@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css or any custom CSS file */

@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.hide-navbar1 {
  animation: slide-up 0.5s forwards;
}

.show-navbar1 {
  animation: slide-down 0.5s forwards;
}

.hide-navbar2 {
  animation: slide-down 0.5s forwards;
}

.show-navbar2 {
  animation: slide-up 0.5s forwards;
}
